.botaoPesquisaFamilia {
    background-color: #e3436b;
    border-color: #81233b;
    margin: 5px;
    width: 150px;
}

.cadastroFamilia {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 80%;
    width: 100%;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 100vh;

}

.titulo-alert {
    font-size: 2rem;
    margin-bottom: 0;
}


.inputFamilia {
    max-width: 1000px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;

}

