@font-face {
    font-family: 'Cera Round Pro';
    src: url('./CeraRoundPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('./CeraRoundPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}